@use "./styles/config" as conf;

.header {
  width: 100%;
  //position: fixed;
  padding: .5rem 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  padding-left: .5rem;
  padding-right: .5rem;
  grid-template-columns:auto 1fr;
  box-sizing: border-box;
}

.logo {
  max-width: 8rem;
}

.nav {
  transition: max-height 0.4s ease, height 0.4s ease;
  height: 0;
  max-height: 0;
  grid-column: 1 / 3;
  overflow: hidden;
  text-transform: uppercase;
}

.is-open .nav {
  height: 100%;
  max-height: 100%;
}

.c-menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
  // height: 0; 
  overflow: hidden;
  flex-direction: column;
  background-color: transparent;
  min-width: 100%;
  text-align: center;
}

.c-menu__item {
  padding: .5rem 1rem;
  width: 100%;
}


.c-menu__link {
  color: conf.$c-menu-font-color;
  font-weight: conf.$text--semibold; 
  font-size: conf.$text-size-s;
  line-height: 1.375;
  
  text-decoration: none;
  letter-spacing: -.01em;
  
  &:hover {
    color: conf.$c-menu-font-color--hover;
  }
}

.c-menu__action {
  border: none;
  display: block;
  padding: 0;
  justify-self: end;
  align-self: center;
  background-color: transparent;
  display: block;
  width: 2rem;
  height: 2rem;
}


.c-menu__burguer {
  background-color: conf.$c-menu-font-color;
  border-radius: 0px;
  width: 2rem;
  height: .15rem;
  position: relative;
  
  &::after {
    content: '';
    background-color: inherit ;
    border-radius: 0px;
    display: block;
    width: 2rem;
    height: .15rem;
    position: absolute;
    top: 0.5rem;
  }
  &::before {
    content: '';
    background-color: inherit ;
    border-radius: 0px;
    display: block;
    width: 2rem;
    height: .15rem;
    position: absolute;
    top: -0.5rem;
  }
}




    .c-menu__burguer {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        transition: top 0.1s 0.25s ease-in,
                    opacity 0.1s ease-in;
      }

      &::after {
        transition: top 0.1s 0.25s ease-in,
                    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    .is-open {
      .c-menu__burguer  {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease-out,
                      opacity 0.1s 0.12s ease-out;
        }

        &::after {
          top: 0;
          transform: rotate(-90deg);
          transition: top 0.1s ease-out,
                      transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  



//
// Tablet
// =====================================
@media screen and (min-width: 37.5rem) { 
} 

//
// Large Tablet
// ====================================
@media screen and (min-width: 56rem) {
  .grid {
    margin: 0 auto;
    max-width: 60rem;
    grid-template-columns:auto 0 1fr;
  }
  
  .c-menu__burguer {
    display: none;
  }
  
  .c-menu__list {
    height: auto;
    max-height: 100%;
    flex-direction: row;
    align-self: center;
  }
  
  .nav {
    transition: unset;
    height: 100%;
    display: flex;
    align-content: center;
    max-height: 100%;
    grid-column: 3/4;
  }
}

//
//  Small Desktop
// ====================================
@media screen and (min-width: 75rem) { 
}

//
//  Large Desktop
// ===================================
@media screen and (min-width: 112rem) { 
}



